@import url(antd.css);
html {
  position: relative;
  min-height: 100% !important; }

body {
  font-family: "Titillium Web", sans-serif !important;
  background: #f8f8f8 !important;
  margin-bottom: 75px !important;
  /* Margin bottom by footer height */
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  font-size: 12px !important;
  color: rgba(0, 0, 0, 0.65); }

.content {
  overflow: hidden; }

.recharts-responsive-container {
  min-width: 300px;
  min-height: 250px; }

.ant-select, .ant-radio-group, .ant-menu {
  font-family: "Titillium Web", sans-serif !important; }

.ant-btn-group > .ant-btn {
  line-height: 24px; }

.ant-form-item {
  margin-bottom: 0px; }

.meter-box {
  padding: 10px;
  background: white;
  margin: 0; }
  .meter-box .deviceInfoColor {
    color: #108ee9; }
  .meter-box .consumer-info {
    font-size: 14px;
    font-weight: bolder; }

.DayPickerInput {
  position: relative;
  height: 32px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  border: 1px solid #d9d9d9;
  padding: 5px;
  background: white;
  border-radius: 4px;
  margin-left: 4px; }
  @media screen and (max-width: 768px) {
    .DayPickerInput {
      margin-left: 0;
      margin-right: 4px; } }

.DayPicker-Footer {
  border-top: 1px solid #eee;
  text-align: center; }

.DayPickerInput::after {
  content: "\E6BB";
  font-family: "anticon" !important;
  position: absolute;
  color: #9E9E9E;
  top: 6px;
  right: 8px; }

.DayPicker-Day .DayPicker-Day--selected {
  background-color: #51a0fa !important; }

.DayPickerInput input {
  border: 0;
  width: 100%; }

.DayPickerInput input:focus {
  outline: none; }

.daypickerwidth .DayPickerInput {
  width: 49%; }
