.headerMenu {
    line-height: 64px; 
    font-size: 16px;
    height: 71px;
    border-bottom: solid 2px #2f2f2f;
    background: transparent;
    letter-spacing: 2px;
}
.subMenu {
    line-height: 64px; 
    font-size: 18px;
    letter-spacing: 2px;
}
.headerLogo {
    height: 50px;
    margin-top: 9px;
}
.headerIndex {
    height: 71px;
    width: 100%;
    box-shadow: 0px 3px 20px 3px rgba(0,0,0,0.8);
    border-bottom: solid 2px #2f2f2f;
    background: rgba(0,0,0,0.73);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}

@media only screen and (max-device-width : 640px) {
    .headerMenu {
        line-height: 64px; 
        font-size: 12px; 
        height: 60px;
    }
    .headerLogo {
        height: 20px;
        margin-left: -40px;
    }
    .headerIndex {
        height: 60px;
        width: 100%;
        box-shadow: 0px 3px 20px 3px rgba(0,0,0,0.8);
        border-bottom: solid 2px #2f2f2f;
        background: #232b2b;
        color: white;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
    }
    
}