.footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    color: #b2b8c0;
    padding: 20px 10px 0 10px;
    height: 75px;
    background-color: #e8eaed;

    .logos {
        @media screen and (max-width: 768px) {
            text-align: center;
        }
    }
}

.footerStyles {
    text-align: center;
    font-size: 16px;
    color: #d5d5d5;
    background-color: #232b2b;
}

.responsive-hide {
    @media screen and (max-width: 768px) {
        display: none;
    }
}